.wrapper{
    padding-top:50px;
}
.gridContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.trending{
    font-weight: bold;
}
.select{
   display: inline;
}
.cards{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}